# SUPABASE CONFIG
NEXT_PUBLIC_SUPABASE_URL=your_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# TELEGRAM CONFIG
TELEGRAM_BOT_TOKEN=8273552925:AAGAjvknSKUE-8jV4IN91M4WDIZxp1Scas4
# TELEGRAM_ADMIN_CHAT_ID=not_required

# GOOGLE CALENDAR CONFIG (SERVICE ACCOUNT)
GOOGLE_CLIENT_EMAIL=your_service_account_email
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID=1fdca511b14a7fb4af834eeafc6d493380b8eaf769c42e8a1ec921747e2eaae4@group.calendar.google.com
